/**Comienza footer INDEX**/

footer {
    background-color: rgb(4, 4, 4);
}
.logofooter {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-top: 7px;
}
.listadofooter {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}