@font-face {
    font-family: 'lakmus';
    src: url(../tipografias/Lakmus.ttf);  
}
@font-face {
    font-family: 'caprasimo';
    src: url(../tipografias/Caprasimo-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}